<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

<servlet>
    <servlet-name>donorServlet</servlet-name>
    <servlet-class>com.bloodbank.controller.DonorServlet</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>donorServlet</servlet-name>
        <url-pattern>/addDonor</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>receiverservlet</servlet-name>
        <servlet-class>com.bloodbank.controller.ReceiverServlet</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>receiverservlet</servlet-name>
        <url-pattern>/addreceiver</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MatchingServlet</servlet-name>
        <servlet-class>com.bloodbank.controller.MatchingServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MatchingServlet</servlet-name>
        <url-pattern>/matching</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Donations</servlet-name>
        <servlet-class>com.bloodbank.controller.DonationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Donations</servlet-name>
        <url-pattern>/donate</url-pattern>
    </servlet-mapping>

</web-app>
